SERIAL 0 115200
UI menu.c32
PROMPT 0
TIMEOUT 50
DEFAULT probeos

MENU TITLE ProbeOS - Legacy BIOS
MENU TABMSG https://probeos.eu

LABEL probeos
    MENU LABEL ProbeOS - Hardware Identification
    LINUX /boot/vmlinuz
    INITRD /boot/initramfs
    APPEND modules=loop,squashfs,sd-mod,usb-storage modloop=/boot/modloop-lts quiet console=tty0 console=ttyS0,115200

LABEL serial
    MENU LABEL ProbeOS - Serial Console
    LINUX /boot/vmlinuz
    INITRD /boot/initramfs
    APPEND modules=loop,squashfs,sd-mod,usb-storage modloop=/boot/modloop-lts console=tty0 console=ttyS0,115200 text

LABEL debug
    MENU LABEL ProbeOS - Verbose / Debug
    LINUX /boot/vmlinuz
    INITRD /boot/initramfs
    APPEND modules=loop,squashfs,sd-mod,usb-storage modloop=/boot/modloop-lts

LABEL memtest
    MENU LABEL ProbeOS - Memory Test (Memtest86+)
    LINUX /boot/memtest/mt86plus
    APPEND console=ttyS0,115200
